@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
.head{
    background-color: rgb(14, 233, 233);
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
   
    scroll-behavior: smooth;
}
.jgec{
    color: blueviolet;
     
}

header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    padding:5px 100px;
    display:flex;
    justify-content: space-between;
    
    z-index: 2;
    transition:0.5s;
    -webkit-transition:0.5s;
    -moz-transition:0.5s;
    -ms-transition:0.5s;
    -o-transition:0.5s;
    box-shadow:0 5px 20px rgba(124, 202, 238, 0.1);
    scroll-behavior: smooth;
}
header .logo{
    color:rgb(8, 1, 1);
    font-size:24px;
    position: relative;
    text-transform: uppercase;
    
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 2px;
}
header ul{
    position: relative;
    display:flex;
    align-items: center;
    padding:auto;
    
}
header ul li{
    position:relative;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    
}
header ul li a{
    position: relative;
    display:inline-block;
    justify-content: center;
    margin:0 25px;
    color:rgb(19, 2, 2);
    text-decoration: none;
    
}
.links:hover{
    text-decoration: underline;
}

/* Creating Stiky Header Menu Nav Bar */
header.sticky{
    background:rgb(131, 198, 224);
    padding:20px 50px;
    box-shadow:0 5px 20px rgba(145, 206, 235, 0.1);
}
header.sticky .logo{
    color:rgb(13, 122, 224);
    justify-items: right;
}
header.sticky ul li a{
    color:#111;
}
header.sticky ul li ul{
    color:rgb(99, 221, 42);
}


.dropbtn {
   
    color: rgb(19, 2, 2);
    font-size: 16px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color:rgb(14, 233, 233);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {text-decoration: underline;}

  .dropdown:hover .dropdown-content {display: block;}

 

@media (max-width: 991px)
{
    header,
    header.sticky{
        padding:20px 50px;
		z-index:2;
    }
    header .menu{
        display:none;
        z-index:1;
    }
    header .menu{
        position:fixed;
        background:rgb(236, 226, 226);
        display:block;
        top:75px;
        left:-100%;
        padding:100px 50px;
        width:100%;
        height:100vh;
        border-top:1px solid rgba(0,0,0,0.2);
        text-align:center;
        transition:0.5s;
        -webkit-transition:0.5s;
        -moz-transition:0.5s;
        -ms-transition:0.5s;
        -o-transition:0.5s;
}
    header .menu.active{
        position: fixed;
        top: 79px;
        left: 0;
        padding: 100px 50px;
        display: block;
        text-align: center;
        width: 100%;
        height: 100vh;
        background: rgb(243, 238, 238);
    }
    header ul li a{
        font-size: 20px;
        font-weight: 400;
        color:rgb(14, 0, 0);
        margin:10px 0;
    }
    .toggle{
        width:40px;
        height:40px;
        background:url(img/menu.png);
        background-position:center;
        background-size:30px;
        background-repeat:no-repeat;
        cursor:pointer;
    }
    .toggle.active{
        width:40px;
        height:40px;
        background:url(img/close.png);
        background-position:center;
        background-size:25px;
        background-repeat:no-repeat;
        cursor:pointer;
    }
    header.sticky .toggle{
        filter:invert(1);    ;
        -webkit-filter:invert(1)    ;
    }
    
  
}

@media (max-width: 768px){
    .testimonial .content .testimonialBx{
        max-width: calc(100% - 20px);
        padding: 40px 20px;
        margin: 30px;
    }
    .heading.bottom{
        display:flex;
        justify-content: space-between;
        align-items: center;
        flex-direction:row;
    }
}

@media (max-width: 600px){
    .testimonial .content .testimonialBx{
        max-width: calc(100% - 20px);
        padding: 40px 20px;
        margin: 30px;
    }
    .heading.bottom{
        display:flex;
        justify-content: space-between;
        align-items: center;
        flex-direction:column;
    }
} 

